@import '~swiper/swiper.scss';
@import '~swiper/components/navigation/navigation.scss';
@import '~swiper/components/pagination/pagination.scss';
@import '~swiper/components/scrollbar/scrollbar.scss';

* {
  box-sizing: border-box;
}

body {
  background: #242426;
  font-family: 'Open Sans', sans-serif;
}

.loading {
  @apply w-full text-center text-white;
}

.app {
  @apply flex  min-h-screen  flex-col w-full   ;
  .app-down {
    background: #25262a;
  }


  .app-top, .app-down, .single {
    @apply flex justify-center;
  }

  .inframe {
    @apply flex flex-col w-full md:max-w-5xl justify-center;
  }

  .app-top {
    background: #2d2e32;

    .header {
      @apply p-4 text-white;
      p {
        font-size: .7rem;
        @apply md:text-sm mt-4;
      }

      .logo-container {
        @apply flex;
        .logo {
          @apply font-medium text-gray-500 cursor-pointer;
          span {
            @apply font-bold text-white
          }
        }
        a{
          @apply ml-2;
        }
      }
    }

    .hero {
      @apply px-4;
    }
  }
}

.card-container {
  @apply flex flex-row flex-wrap;

  .card {
    @apply w-full p-4   md:w-1/3;
    .card-techs {
    }

    .inner-card {
      &:hover{
        background: #36393f;

      }
      background: #2d3037;
      @apply cursor-pointer rounded pt-4 pb-4 flex flex-wrap;


      aside {
        @apply w-2/12 flex justify-center items-center;
        figure {
          img {
            @apply w-full p-2
          }
        }

        svg {
          fill: white;
          color: white;
          height: 49px;
          font-size: 35px;
        }
      }

      main {

        @apply pl-2 w-8/12;
        .card-header {
          @apply text-white text-xs font-bold;
        }

        .card-desc {
          @apply text-white pr-4;
          font-size: .6rem;
          color: #ccc;
        }

        .card-techs {
          @apply text-gray-400 flex flex-wrap;
          > div {
            @apply mr-1;
            font-size: .5rem;
          }
        }
      }

      .icon {
        @apply w-2/12 px-4;
        transform: rotate(180deg);
        fill: #6af6a7;
        opacity: .6;
      }
    }
  }
}

.card-single {
  @apply text-white   w-full px-4;
  .placeholder {
    @apply relative py-5;
    img {
      @apply w-full
    }

    figure {
      @apply absolute top-0 left-0 w-full;
    }
  }

  .card-single-header {
    @apply sm:px-0 sm:py-3 flex items-center;
    svg {
      @apply fill-current  w-6 md:w-6 mr-2;
    }

    h1 {
      @apply sm:text-2xl md:text-3xl;
    }
  }

  .card-single-content {
    p {
      font-size: .7rem;
      @apply md:text-xs
    }
  }

  .card-gallery {
    @apply mt-4;
  }

  .card-video {
    @apply mt-5
  }
}

.close-section {
  @apply w-full text-left cursor-pointer ;
}
